* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 24;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    background: #5b7dff;
    font-family: Arial, sans-serif;
    color: #001163
}

.container {
    width: 90%;
    max-width: 68rem;
    margin: auto;
}

.header {
    background: black;
    padding: 2.5rem 0;
    margin-bottom: 15rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 1.4rem;
}

.logo:hover {
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.dark-mode {
    background: #001163 !important;
    color: white !important;
}

.dark-mode .open-modal {
    background: #001163 !important;
}

.dark-mode .sobre-card,
.dark-mode .form-card {
    background: #FFD84A !important;
    color: #001163 !important;
}

.dark-mode a {
    color: #FFD84A !important;
}

.dark-mode .conteudo {
    background: #001e6b !important;
    color: white;
}

.dark-mode #fechar {
    background: transparent;
}

.sobre-mim {
    margin-top: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-modal {
    background-color: #5b7dff;
    cursor: pointer;
    border: none;
}

.sobre-left>h2 {
    color: #001163;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.sobre-mim-text h2 {
    font-size: 2rem;
    line-height: 1.4;
}

.sobre-mim-text span {
    font-weight: bold;
    font-size: 2.2rem;
}

.sobre-mim-img {
    width: 11rem;
}

.eu {
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.sobre-card {
    display: flex;
    flex-direction: column;
    background: #FFD84A;
    color: black;
    padding: 2rem;
    border-radius: 0.4rem;
    margin-top: 5rem;
    /* gap: 2rem; */
}

.sobre-right {
    margin-top: 2.7rem;
}

.sobre-right>h2 {
    margin-bottom: 0.9rem;
}

.quem-sou-eu {
    display: flex;
}

.minhas-habilidades>h2 {
    text-align: center;
    margin-bottom: 3rem;
    color: #001163;
    font-size: 3rem;
}

.skills {
    display: flex;
    justify-content: end;
}

.hard-skills>ul>li,
.soft-skills>ul>li {
    padding: 0.1rem;
}

.soft-skills {
    margin-left: 2rem;
}

.hard-skills>p, .soft-skills>p {
    font-size: 2rem;
}

.perfil {
    width: 10rem;
    border-radius: 0.5rem;
    margin-bottom: 1.2rem;
    margin-right: 4rem;
}

.projetos h2 {
    text-align: center;
    margin-bottom: 2.1rem;
    font-size: 2rem;
    color: #FFD84A;
}

.projetos-container {
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
}

.projetos-container>.project-rigth {
    align-items: end;
}

.projetos>h2 {
    font-size: 4rem;
}

.projeto>p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: #FFD84A;
}

.projeto img {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.center-img {
    display: block;
    margin: 2.5rem auto;
    height: 20rem;
}

.contato-section {
    margin-top: 15rem;
}

.contato-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4.2rem;
}

.contato-big h2 {
    font-size: 2.8rem;
    text-align: right;
}

.contato-text h2 {
    font-size: 2.8rem;
    color: #FFD84A;
}

.contato-img {
    width: 11rem;
}

.github>a,
.gmail>a,
.contato-big h2 {
    text-decoration: none;
    color: #FFD84A;
}

.form-card {
    background: #FFD84A;
    padding: 2rem;
    margin-top: 15rem;
    margin-bottom: 4rem;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    color: #001163;
}

.form-card input,
.form-card textarea {
    padding: 0.9rem;
    border: none;
    border-radius: 0.4rem;
    background-color: black;
}

.form-card input,
.form-card textarea {
    color: white;
}

.form-card button {
    padding: 0.8rem;
    border: none;
    background: #001163;
    color: white;
    cursor: pointer;
    border-radius: 0.4rem;
    margin-top: 1rem;
}

.phone {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.3rem;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.conteudo {
    background: white;
    padding: 2rem;
    width: 25rem;
    margin: 120px auto;
    border-radius: 1rem;
    position: relative;
    text-align: center;
}

.conteudo p a {
    text-decoration: none;
    color: #001163;
    font-size: 2rem;
}

.footer {
    background: black;
    padding: 2rem 1rem;
    margin-top: 5rem;
    text-align: center;
}

.footer-container h3 {
    color: #FFD84A;
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.footer-container p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

.footer-container a {
    text-decoration: none;
    color: #FFD84A;
}

.copy {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    opacity: 0.7;
}

#fechar {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 22px;
    color: red;
    border: none;
    background-color: white;
}

.dark-btn {
    background: #FFD84A;
    color: #001163;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.dark-btn:hover {
    opacity: 0.8;
}

.animar {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.7s ease;
}

.animar.show {
    opacity: 1;
    transform: translateY(0);
}



@media (max-width: 600px) {

    .header-container {
        flex-direction: column;
        gap: 1rem;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.8rem;
    }

    .logo {
        font-size: 1.2rem;
    }

    .dark-btn {
        font-size: 1rem;
        padding: 0.4rem 0.7rem;
    }

    .sobre-mim {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    .sobre-mim-text h2 {
        font-size: 1.5rem;
    }

    .sobre-mim-text span {
        font-size: 1.7rem;
    }

    .sobre-mim-img {
        width: 8rem;
    }

    .quem-sou-eu {
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
    }

    .perfil {
        margin-right: 0;
        width: 8rem;
    }

    .skills {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .projetos-container {
        flex-direction: column;
        align-items: center;
    }

    .project-left,
    .project-rigth {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .center-img {
        height: 12rem;
    }

    .contato-wrapper {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .contato-big h2 {
        text-align: center;
        font-size: 2rem;
    }

    .contato-img {
        width: 8rem;
    }

    .contato-text h2 {
        font-size: 2.2rem;
    }

    .form-card {
        margin-top: 8rem;
        padding: 1.2rem;
    }

    .form-card input,
    .form-card textarea {
        font-size: 1rem;
    }

    .conteudo {
        width: 90%;
        margin-top: 40vh;
        padding: 1.5rem;
    }

    .conteudo p a {
        font-size: 1.4rem;
    }

    #fechar {
        font-size: 20px;
        right: 0.7rem;
        top: 0.7rem;
    }
}
